.font-bold {
  font-weight: 700;
}

.text-gray-900 {
  color: #1a202c;
}

.mb-5 {
  margin-bottom: 1.25rem;
}

.mb-3 {
  margin-bottom: 0.75rem;
}

/* 适配暗黑模式 */
[theme="dark"] .text-gray-900 {
  color: #e2e8f0;
}
