.plantuml-rendered img {
  width: 100%;
  height: auto;
  max-width: 100%;
}

body [theme=dark] .plantuml-lightbox,
body .plantuml-lightbox {
  cursor: zoom-in;
}

/* Indent the first line of each top-level paragraph in posts. */
.single .content > p {
  text-indent: 2em;
}
